<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Cracking</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

    <style>

        .btn-login {
            width: 50px;
        }

        .custom-bg {
            background-color: #ccc4be;
        }

        .input-box {
            width: 500px;
        }

        .security-img {
            width: 50px;
        }

    </style>
</head>
<body>

<div th:replace="~{fragments/navbar :: navbar}"></div>

<div class="container align-items-center justify content center">

    <h3 class="pt-5 pb-3">Password Cracker</h3>
    <form th:action="@{/crackPassw}" method="post">
        <div class="form-group">
            <label for="input" class="pb-2">Write your SHA-256 hash</label>
            <input type="text" id="input" name="input" class="form-control input-box">
        </div>
        <button type="submit" class="btn btn-light">Submit</button>
    </form>

    <div th:if="${submitted}">
        <div th:if="${crackedPassword != null}" class="pt-3">
            <p>Your Hash: <span th:text="${input}"></span></p>
            <p>Your Password: <span th:text="${crackedPassword}"></span></p>
        </div>
        <div th:if="${crackedPassword == null}" class="pt-3">
            <p>Password not found for the provided hash.</p>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>