<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Hashing</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>

        .btn-login {
            width: 50px;
        }

        .custom-bg {
            background-color: #ccc4be;
        }

        .input-box {
            width: 500px;
        }

        .security-img {
            width: 50px;
        }

    </style>
</head>
<body>

<div th:replace="~{fragments/navbar :: navbar}"></div>

<div class="container p-3">
    <form th:action="@{/getHash}" method="post" class="align-items-center justify content center">
        <div class="form-group">
            <label for="input" class="pb-2">Write something</label>
            <input type="text" id="input" name="input" class="form-control input-box">
        </div>
        <button type="submit" class="btn btn-light">Hash</button>
    </form>


    <div th:if="${input != null}" class="pt-5">
        <p>Your Input: <span th:text="${input}"></span></p>
        <p>MD5 HASH: <span th:text="${md5}"></span></p>
        <p>SHA-256 HASH: <span th:text="${sha256}"></span></p>
    </div>

    <div th:if="${error != null}">
        <p th:text="${error}"></p>
    </div>

</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>