<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<h1>Home</h1>
<div th:if="${username != null}">
<h2>Hello, <span th:text="${username}"></span>!</h2>
    <form th:action="@{/logout}" method="post">
        <input type="hidden" name="_csrf" th:value="${_csrf.token}"/>
        <button type="submit">Logout</button>
    </form>

    <form th:action="@{/hash}" method="get">
        <input type="hidden" name="_csrf" th:value="${_csrf.token}"/>
        <button type="submit">Hash</button>
    </form>

    <form th:action="@{/passwordCracker}" method="get">
        <input type="hidden" name="_csrf" th:value="${_csrf.token}"/>
        <button type="submit">Password Cracker</button>
    </form>


</div>
</body>
</html>